---
title: publications
crumb: /publications
---

<div class="prose">
  <h1>Publications</h1>
  <p>
    Also on
    <a href="https://scholar.google.de/citations?user={{ site.data.contact.scholar }}"
      >Google Scholar</a
    >{%- if site.data.contact.orcid != "" %} and
    <a href="https://orcid.org/{{ site.data.contact.orcid }}">ORCID</a>{%- endif %}.
  </p>
</div>

<h2>Journals &amp; pre-prints</h2>
{%- assign start = site.data.pubs.journals | size | plus: 1 %}
<ol class="pub-list" style="counter-reset: item {{ start }}">
  {%- for p in site.data.pubs.journals %}
  <li>
    <span
      >{{ p.authors }} ({{ p.year }}). &ldquo;{{ p.title }}&rdquo;. {{ p.venue
      }}.{% if p.doi %} doi:
      <a href="https://doi.org/{{ p.doi }}">{{ p.doi }}</a>.{% endif %}{% if
      p.note %} {{ p.note }}{% endif %}{% if p.award %}
      <span class="award">{{ p.award }}</span>{% endif %}</span
    >
  </li>
  {%- endfor %}
</ol>

<h2>Conference papers &amp; abstracts</h2>
{%- assign start = site.data.pubs.conference | size | plus: 1 %}
<ol class="pub-list" style="counter-reset: item {{ start }}">
  {%- for p in site.data.pubs.conference %}
  <li>
    <span
      >{{ p.authors }} ({{ p.year }}). &ldquo;{{ p.title }}&rdquo;. {{ p.venue
      }}.{% if p.doi %} doi:
      <a href="https://doi.org/{{ p.doi }}">{{ p.doi }}</a>.{% endif %}{% if
      p.note %} {{ p.note }}{% endif %}{% if p.award %}
      <span class="award">{{ p.award }}</span>{% endif %}</span
    >
  </li>
  {%- endfor %}
</ol>
